Client/Connected Services/ServiceReference1/myService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfProductSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSet" nillable="true" type="tns:ProductSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSet" nillable="true" type="tns:ArrayOfProductSet" />
  <xs:complexType name="ProductSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderEntrySet" nillable="true" type="tns:ArrayOfOrderEntrySet" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSet" nillable="true" type="tns:ProductSet" />
  <xs:complexType name="ArrayOfOrderEntrySet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderEntrySet" nillable="true" type="tns:OrderEntrySet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderEntrySet" nillable="true" type="tns:ArrayOfOrderEntrySet" />
  <xs:complexType name="OrderEntrySet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aantal" type="xs:long" />
      <xs:element minOccurs="0" name="OrderEntryId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderSet" nillable="true" type="tns:OrderSet" />
      <xs:element minOccurs="0" name="Order_OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSet" nillable="true" type="tns:ProductSet" />
      <xs:element minOccurs="0" name="Product_ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderEntrySet" nillable="true" type="tns:OrderEntrySet" />
  <xs:complexType name="OrderSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerSet" nillable="true" type="tns:CustomerSet" />
      <xs:element minOccurs="0" name="Customer_CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderEntrySet" nillable="true" type="tns:ArrayOfOrderEntrySet" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSet" nillable="true" type="tns:OrderSet" />
  <xs:complexType name="CustomerSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderSet" nillable="true" type="tns:ArrayOfOrderSet" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:double" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSet" nillable="true" type="tns:CustomerSet" />
  <xs:complexType name="ArrayOfOrderSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderSet" nillable="true" type="tns:OrderSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderSet" nillable="true" type="tns:ArrayOfOrderSet" />
</xs:schema>